[submodule ".dircolors-solarized"]
	path = .dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule ".vim/bundle/vimoutliner"]
	path = .vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".themes/gnome-terminal-colors-solarized"]
	path = .themes/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule ".themes/gedit-solarized"]
	path = .themes/gedit-solarized
	url = git://github.com/mattcan/solarized-gedit.git
[submodule ".themes/mc-solarized-skin"]
	path = .themes/mc-solarized-skin
	url = git://github.com/nkulikov/mc-solarized-skin.git
[submodule "/home/sprawl/.vim/bundle/vundle"]
	path = /home/sprawl/.vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
